<div class='menu-container'>
  <div class='card-header col-md-10'>
    <h2>
      Travelogues
    </h2>
  </div>
  {{#each dishes as |dish|}}
    <div class='dish col-md-5'>
      <p>
        {{dish.id}}.
        {{dish.dish_name}}
      </p>
    </div>
    <div class='col-md-7'>
      <p>
         <a href="dish/">{{dish.description}}</a>
        {{dish.guest_name}}
      </p>
    </div>
  {{/each}}
  <div class='add-dish-container'>
    <h2>
      Enter a trip to remember
    </h2>
    <form class='new-dish-form'>
      <label for='dish_name'>
        Destination Name:
      </label>
      <br />
      <textarea id='dish_name' name='dish_name' rows='2' cols='30'>
        {{dish_name}}
      </textarea>
      <br />
      <label for='description'>
        Travel Notes:
      </label>
      <br />
      <textarea id='description' name='description' rows='5' cols='30'>
        {{description}}
      </textarea>
      <br />
      <label for='guest_name'>
        Dates:
      </label>
      <br />
      <textarea id='guest_name' name='guest_name' rows='2' cols='30'>
        {{guest_name}}
      </textarea>
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</div>
<!-- This is the form for adding a new log-->
<script src='/js/add-dish.js'></script>
