                                                                                                   <div class='menu-container'>
  <div class='card-header col-md-10'>
    <h2>
      Travelogues
    </h2>
  </div>
  {{#each travelDatas as |travelData|}}
    <div class='travel col-md-5'>
      <p>
        {{travelData.destination}}.
        {{travelData.note}}
      </p>
    </div>
    <div class='col-md-7'>
      <p>
        {{travelData.date}} 
      </p>
    </div>
  {{/each}}
  <div class='add-travel-note'>
    <h2>
      Enter a trip to remember
    </h2>
    <form class='new-post-form'>
      <label for='destination_name'>
        Destination Name:
      </label>
      <br />
      <input type = 'text' id="destination" name="destination"/>
      <label for='note'>
        Travel Notes:
      </label>
      <br />
      <textarea id='note' name='note' rows='5' cols='30'>
        {{!-- {{note}} --}}
      </textarea>
      <br />
      <label for="date">
        Date:
      </label>
      <br />
      <input type="date" id="date" name="date" rows='2' cols='30'>
        {{!-- {{note}} --}}
      </textarea>
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</div>
<!-- This is the form for adding a new log-->
<script src='/js/addTravel.js'></script>
