<div class='menu-container' align="center">
  <div class='menu-container' align="center">
      <h2 class="bg-success"> {{user_name}}, View your fun "Travelogues"</h2>
      <br />
    {{#each travelDatas as |travelData|}}
    <div class="gallery-name blog-size" >
      <h4> <span style="text-transform:uppercase;" >{{travelData.destination}}</span> &nbsp; - &nbsp;  from: {{format_date travelData.start_date}} to: {{ format_date travelData.end_date}}</h4>
      <h4> {{travelData.note}}</h4>
    </div>
     <br/>
    {{/each}}
    
  </div>
</div>

<!-- This is the form for retrieving saved logs -->
<script src='/js/addTravel.js'></script>